/.classpath
/.settings
/.project
/target
/api/.classpath
/api/.settings
/api/.project
/api/target
/omod/.classpath
/omod/.settings
/omod/.project
/omod/target
/nbactions.xml

/.idea
*.iml
*.sass-cache
*.DS_Store
